/* Login.css */

.login-container {
    background: url('https://t3.ftcdn.net/jpg/02/69/86/60/240_F_269866045_YnGca3qc6HETcinZKwyhHfMJIDq88LTX.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
  }
  
  .login-card .card-title {
    color: green;
    font-size: 24px;
  }
  
  .login-card .form-group label {
    color: white; /* Label color */
  }
  
  .login-card .form-control {
    background-color: #f2f2f2; /* Light gray input background */
    color: #333; /* Text color */
  }
  
  .login-card .form-control:focus {
    background-color: #e6e6e6; /* Lighter gray on focus */
  }
  
  .login-card .btn-primary {
    background-color: green;
    border-color: green;
  }
  
  .login-card .btn-primary:hover {
    background-color: darkgreen;
    border-color: darkgreen;
  }
  